*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

nav {
    background-color: green;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    ;
    list-style: none;



}

.logopp {
    display: flex;
    align-items: center;
    gap: 10px;
    font: optional;
    font-weight: 500;
    padding: 5PX 5PX;


}
.logopp h3 {
    color: white;
    font-size: 17px;
}
.logopp .logo {
    width: 70px;
}
nav img {
    width: 100px;
    padding-left: 5px;

}

nav ul li {
    position: relative
}

nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: 600;
    display: block;
    background-color: green;
    font-size: larger;
    padding: 7px;
    transition: all;
    transition-duration: 100ms;
    border-bottom: 5px solid rgba(0, 0, 0, 0);

}
nav ul li button {
    all: unset;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: 600;
    display: block;
    background-color: green;
    font-size: larger;
    padding: 7px;
    transition: all;
    transition-duration: 100ms;
    border-bottom: 5px solid rgba(0, 0, 0, 0);
}

nav ul li a:hover {

    display: block;
    background-color: rgba(172, 255, 47, 0.674);
    border-bottom: 5px solid black;
    border-radius: 5px;
}
nav ul li button:hover {

    display: block;
    background-color: rgba(172, 255, 47, 0.674);
    border-bottom: 5px solid black;
    border-radius: 5px;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;

}

nav ul li:hover .dropdown {
    display: block;
    position: absolute;
    left: 0;

}

.dropdown li {
    text-align: center;
    left: 0;
    margin-left: 0;
}

/* SECTION 1 */







.maulid1 {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    padding: 7px;
    background-color: yellowgreen;
}

.textket {
    text-align: center;
}

.brosur {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    padding: 7px;
    background-color: yellowgreen;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.container img {
    width: 100%;
    max-width: 350px;
    height: auto;
}

@media (max-width:790px) {
    nav {
        flex-wrap: wrap;
        /* position: fixed; */
    
    }
    nav ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .logopp img {
     width: 60px;
    }
    .logopp h4 {
        font-size: 1rem

    }

    .container {
        flex-direction: column;
      
    }
    body {
        max-width: 720px;
    }

    .container img {
        max-width: 90%;
    }

    .maulid1 {
        max-width: 90%;
    }

    nav ul {
        display: noe;
        flex-direction: column;
    }

     nav .iconlist {
        display: flex;
        align-items: center;
        font-size: 34px;
    }
    nav ul.hiden {
        display: none;
    }
    .isi {
        padding-top: 10px;
    }
    form {
        max-width: 90%;
        width: 300px;
    }
    
}
/*FORM*/
.form-popup {
    display:none ;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
    background-color:green;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.form-container {
    max-width: 300px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(116, 224, 104);
}
.form-container input{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: greenyellow;
    border-radius: 5px;
    border: 2px solid black
}
.form-popup h2 {
    text-align: center;
}
.form-popup button {
  background-color:green ;
  width: 80px;
  padding: 7px;
  border-radius: 4px;
   border: 1.5px solid black;
}
.form-popup button:hover {
    display: block;
    background-color: darkgreen;
    color: white;
    border: 1.5px solid black;
}
.warpbtn {
    display: flex;
    justify-content: center;
    gap: 30px;
}
/* FORM */

.iconlist {
    font-size: 24px;
    display: none;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(61, 58, 58);
    color: white;
    padding: 30px;
}

footer p {
    text-align: center;
}
